/*

    COLORS FOR THE PROJECT:


    background-color: FEF3A4 with 50% opacity === RGBA -> rgba(254, 243, 164, 0.5)

    green-color: 019267

    whitish-color: FFF9F0

    black-color: 000000

    background-color for footer: EEEEEE

    "inProgress"-color: F87474

    "delivered"-color: 3B44F6

    categories-background: 019267 with 10% opacity === RGBA -> rgba(1, 146, 103, 0.1)

    share-button-color: 019267 with 50% opacity === RGBA -> rgba(1, 146, 103, 0.5)
    


*/